[worldserver]

###################################################################################################
#	账户坐骑模块
###################################################################################################

# 启用模块？ (1: 是 | 0: 否)

Account.Mounts.Enable = 1

# 玩家登录时公告模块？

Account.Mounts.Announce = 0
