[worldserver]

###################################################################################################
#	账户坐骑模块
###################################################################################################

# 启用模块？ (1: 是 | 0: 否)

Account.Mounts.Enable = 1

# 玩家登录时公告模块？

Account.Mounts.Announce = 0

# Excluded Spell IDs (comma-separated, no space). See example below
# Account.Mounts.ExcludedSpellIDs = 470,578,6777

Account.Mounts.ExcludedSpellIDs = 0

# Limit race and class specific mounts? (1: true | 0: false)
# 0 = will allow any race/class to own other racial/class-specific mounts.
# 1 = will enforce the limit.

Account.Mounts.LimitRace = 0
